In [1]:
print("hello")

hello

Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* popular languages used in data science
* popular libraries in data science
* Arithmetic operation
* jupyter notebook introduction
* Data science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. TensorFlow

| Data Science Tools|
|-------------------|
|Rstudio|
|Apache Spark|
|Apache Hadoop|

# Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60.
hour = 200//60
minutes = 200%60
print(f"200 minutes is equal to: {hour} hours and {minutes} minutes")

200 minutes is equal to: 3 hours and 20 minutes

## Author : 
Soumyadeep Mridha